name: PlatformIO CI

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        example: [examples/basic_lua.ino, examples/basic_sol.ino]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Run PlatformIO
        run: pio ci --lib="." --project-option="build_unflags = -std=gnu++11 -std=gnu++14" --project-option="build_flags = -std=gnu++17" --board=esp32doit-devkit-v1 --board=teensy41
        env:
          PLATFORMIO_CI_SRC: ${{ matrix.example }}

